__pycache__/Colorer.cpython-35.pyc
__pycache__/main.cpython-35.pyc
__pycache__/timeout.cpython-35.pyc
build/main/base_library.zip
build/main/main.exe.manifest
build/main/out00-Analysis.toc
build/main/out00-EXE.toc
build/main/out00-PKG.pkg
build/main/out00-PKG.toc
build/main/out00-PYZ.pyz
build/main/out00-PYZ.toc
main.spec
build/
